---
import Layout from '../layouts/Base.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">About</h1>
	<p>
		Hi, I'm Jake Park. Here's some information about me! (consider this my resume)
	</p>
	<h2 class="title mt-4">Some skills:</h2>
	<ul class="list-inside list-disc">
		<li>I know Python, Golang, JS, TypeScript, C, SQL, Java, NoSQL </li>
		<li>I know some hacking tools such as Ghidra, Wireshark, Burpsuite, Volatility, Autopsy, NMAP, Metasploit, SQLmap, GDB, etc.</li>
		<li>I am good with git and github</li>
	</ul>
	<h2 class="title mt-4">Some certifications I have:</h2>
	<ul class="list-inside list-disc">
		<li>SANS GFACT (97%)</li>
		<li>SANS GSEC (96%)</li>
		<li>TCM Security PJPT (in progress)</li>
	</ul>
	<h2 class="title mt-4">Some work experience:</h2>
	<ul class="list-inside list-disc">
		NJCCIC Summer High School Intern
		<li>Intern for the New Jersey Cybersecurity and Communications Integration Cell (NJCCIC) during the summer of 2023. Learned from and connected with government leaders and people in the cybersecurity industry. Researched and presented a capstone project about the MOVEit SQL injection vulnerability in person in the NJCCIC headquarters in 
Hamilton, New Jersey in early August.</li>
		<br>
		Stevens Quantum Physics Research Intern
		<li>Intern for Qu Labratory for Quantum Physics. Researching open quantum systems and creating programs that demonstrate quantum physics. Currently conducting research by solving problems in open quantum systems.</li>
		
	</ul>
	<h2 class="title mt-4">My extracurriculars:</h2>
	<ul class="list-inside list-disc">
		<li>Ethical Hacking</li>
		- Constantly reading and watching videos on web application hacking. Part of Capture the Flag team lazy bums and participates in CTF competitions near weekly. 
		<br>
		- 24th place out of 1329 teams in Carnegie Mellon University high school hacking competition picoCTF
		<br>
		- 5th place in the National Cyber Cup 2023 for the High School division out of 200 teams.
		<br>
		- 4th Place out of more than 50 participants in New Jersey Government Cybersecurity competition.
		<br>
		<br>
		- 2nd highest high school for NSA CodeBreaker Challenge 2023
		<br>
		<br>
		<li>Physics</li>
		- Currently self-learning quantum mechanics
		<br>
		- 4th place in NJ for AAPT PhysicsBowl.
		<br>
		- Member of Physics Club at Bergen Tech
		<br>
		<br>
		<li>Web Development</li>
		- I create web apps
		<br>
		<br>
		<li>Code Club</li>
		- President of Code Club at Bergen Tech Teterboro
		<br>
		<br>
		<li>CyberPatriots</li>
		- President of CyberPatriot club, Captain of Platinum team "Forensick", Linux guy
		<br>
 		- 2nd in New Jersey and qualified for Semifinals Platinum division for CyberPatriot XVI
		<br>
		<br>
		<li>Cybersecurity Education</li>
		- Taught an hour-long weekly class in School for Bergen Technical High Schools Teterboro for one semester about Cybersecurity topics and taught techniques such as Web Application hacking, Modern Cryptography, and Reverse Engineering. 
		<br>
		- Part of Bergen Technical High School Teterboro’s Computer Science Advisory Board in recommending changes to course curriculum for my high school.
		<br>
		<br>
		<li>Chinese Dance</li>
		- Part of the Chinese International Dance Team in Bergen Tech Teterboro
		<br>
		- Part of the "Lion Dance" as the tail of the lion. 
		<br>
	</ul>
</Layout>

