---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<Layout title="About" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

    <section>
      <div class="min-w-full">
        <h1 class="mb-4 text-3xl font-bold">About Me</h1>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          I'm "jp", aka Jake Park. I'm currently a student at Bergen County Technical High Schools Teterboro and an incoming freshman at Carnegie Mellon University, hopefully majoring in Electrical and Computer Engineering. 
        </p>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
         I (obviously) like computer security competitions and stuff. Aside from that, I also like learning physics, playing video games, listening to music, and walking / running outside. 
        </p>
        <p class="prose prose-neutral mb-8 dark:prose-invert">
          I'm looking for a CTF team currently, since I usually just play by myself. Hopefully I can play CTFs with new friends at university and have some fun / learn new things!
        </p>
        
      </div>
    </section>
  </Container>
</Layout>
