---
import BlogCard from '@/components/BlogCard.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import { buttonVariants } from '@/components/ui/button'
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <section>
         <h1 class="mb-4 text-3xl font-bold">"JP"</h1>
          <p class="prose-neutral mb-8 dark:prose-invert">
          Hi, I'm Jake Park. I'm currently a senior at Bergen County Technical High Schools Teterboro hopefully majoring in Electrical and Computer Engineering in college. 
          </p>
          <p class="prose-neutral mb-8 dark:prose-invert">
          I like computer security and some other computer stuff. Aside from that, I also like learning physics, playing video games, listening to music, and walking / running outside. 
          </p>
          <p class="prose-neutral mb-3 dark:prose-invert">
            I'm looking for a CTF team currently, since I usually just play by myself + a friend. Hopefully I can play CTFs with new friends at university and have some fun + learn new things!
          </p>
          <p class="text-sm text-muted-foreground mb-4">
          Feel free to email me at jakepark2908@gmail.com, or dm me on discord at jp_var03.
          </p>
    </section>
    <section class="flex flex-col gap-y-4">
      <h2 class="text-2xl font-bold">Latest posts</h2>
      <ul class="not-prose flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          See all posts <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
    </section>
  </Container>
</Layout>
