---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
 <section>
         <h1 class="mb-4 text-3xl font-bold">jake</h1>
          <p class="prose-neutral mb-8 dark:prose-invert">
          Hi, I'm Jake Park. I'm currently an incoming CMU student studying ECE. 
          <p class="prose-neutral mb-8 dark:prose-invert">
          I'm pretty interested in trying to learn about computer security stuff, as well as electrical engineering stuff. Hopefully I can learn to combine the two concepts together, but maybe time will come where I have to choose between the two for a career lol. 
          </p>
          <p class="prose-neutral mb-8 dark:prose-invert">
          Something I'm currently trying to do right now is learn pwn through pwn.college! 
          </p>
          <p class="prose-neutral mb-3 dark:prose-invert">
            Currently in reCAPTCHA The Flag + Cosmic Bit Flips trying to main web.
          </p>
          <p class="text-sm text-muted-foreground mb-4">
          Feel free to email me at jakepark2908@gmail.com, or dm me on discord at jp_var03.
          </p>
    </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
